class MatometeDonConfig
  attr_reader :ssh_options, :gateway, :user, :password, :file_path, :host
  def initialize()
    
    #######################################################
    # sshのOptionの指定。鍵やAgentなどを設定できます。
    # capistranoのssh_optionsの書式に従ってください
    #######################################################
    @ssh_options = {
      :keys => '/home/username/.ssh/id_dsa',
      :forward_agent => true,
    }
    
    #######################################################
    # 踏み台経由する場合は 「user.name@server.name.com」
    # のように、記載してください。指定しない場合は nil
    #######################################################
    @gateway = nil
    
    #######################################################
    # 接続先のサーバーへ接続するユーザー名とパスワードを
    # 入力してください。パスワードは無ければ nil
    #######################################################
    @user = 'username'
    @password = nil
    
    #######################################################
    # 参照するファイルのパスを絶対パスで記載してください
    # @user が参照できる権限を持っている必要があります。
    # 将来的にはhost毎に設定できるようにしたい。。。
    # けど、今はできないのでパスは揃えてください
    #######################################################
    @file_path = '/path/to/tail/file.log'
    
    #######################################################
    # 接続先のHOSTを記載してください。
    #######################################################
    @host = ['targethost1', '123.456.789.10']
  end
end
