<div class="container-fluid">
	<h1>Matomete Doooooooooooon!!</h1>
</div>
<div class="container-fluid">
    <div class="pagination">
		<ul id="globalNavigation">
			<li class="prev disabled"><a href="#" onclick="javascript:return false;">サーバー</a></li>
			<% servers.forEach(function(server_name){ %>
				<li><a href="#<%= server_name %>" class="indivisual"><%= server_name %></a></li>
			<% }); %>
			<li><a href="#all" class="all">ALL</a></li>
		</ul>
    </div>
    <div class="pagination">
		<ul id="showVolumes">
			<li class="prev disabled"><a href="#" onclick="javascript:return false;">表示件数</a></li>
			<li><a href="#" data-volume="10" class="showVolume">10</a></li>
			<li><a href="#" data-volume="30" class="showVolume">30</a></li>
			<li class="active"><a href="#" data-volume="50" class="showVolume">50</a></li>
			<li><a href="#" data-volume="70" class="showVolume">70</a></li>
			<li><a href="#" data-volume="100" class="showVolume">100</a></li>
			<li><a href="#" data-volume="300" class="showVolume">300</a></li>
			<li><a href="#" data-volume="500" class="showVolume">500</a></li>
		</ul>
	</div>
</div>
<div class="container-fluid">
	<% servers.forEach(function(server_name){ %>
		<div id="<%= server_name %>" class="output">
			<table class="bordered-table zebra-striped">
				<thead>
					<tr>
						<th class="server_name_title">サーバー名</th>
						<th>「<%= server_name %>」出力</th>
						<th class="time">時間</th>
					</tr>
				</thead>
				<tbody>
				
				</tbody>
			</table>
		</div>
	<% }); %>
</div>